<h3> New article </h3>
<form method="POST" action="/articles">
  <!-- remember that names should match DB to make controller code cleaner -->
  <input type="text" name="title">
  <textarea name="content"></textarea>
  <input type="submit" value="Create">
</form>
