<h2>
  <%= article.title %>
</h2>

<!-- why isnt this article.author.name?? -->
<h4>By <%= article.author.name %></h4>

<p>
<%= article.content %>
</p>

<!-- note: naked div here because div container wrap body in layout -->
<!-- if that's the case, the divs inside of any layout body cannot jump out
  themselves -->
<div>
  <h3>what are your thoughts?</h3>
  <form method="POST" action="/comments">
    <textarea name="content"></textarea>
    <input type="submit" value="Comment" class="btn btn-warning">
    <input name="articleId" value="<%= article.id %>">
  </form>
</div>
