<h3> New Author </h3>
<form method="POST" action="/authors">
  <!-- remember that names should match DB to make controller code cleaner -->
  <input type="text" name="name">
  <input type="url" name="image">
  <textarea name="bio"></textarea>
  <input type="submit" value="Create">
</form>
